folium==0.12.1.post1
geojsoncontour==0.4.0
geopandas==0.11.1
GitPython==3.1.30
holoviews==1.14.8
hvplot==0.8.1
matplotlib==3.6.2
mplstereonet==0.6.2
numpy==1.21.5
pandas==1.5.0
panel==0.13.0
PyGithub==1.57
pyproj==3.4.0
requests==2.28.1
scipy==1.9.3
SQLAlchemy==1.4.44
streamlit==1.16.0
streamlit_folium==0.10.0
windrose==1.8.1
xarray==2022.11.0
